---
---

$text-color: #000000;
$background-color: #ffffff;
$brand-color:      #ff2493;

@import "minima";

a {
  color: $brand-color;
  &:visited {
    color: darken($brand-color, 15%);
  }
}

.PageNavigation {
  font-size: $small-font-size;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

div.notice {
  width: 100%;
  border: 1px solid $brand-color;
  margin-bottom: 24pt;
}
div.notice #left, div.notice #right {
  display: inline-block;
  vertical-align: top;
  padding: 6pt;
}
div.notice #left {
  background: $brand-color;
  color: white;
  font-weight: bold;
}
div.notice #right {
  color: black;
}
