## 休館日

休館日は次のとおり：
{% case include.office_type %}
{% when 'A' %}
* 第 4 木曜
{% when 'B' %}
* 月曜（祝日の場合は振り替える）
* 第 4 木曜
* 年末年始
{% when 'C' %}
* 月曜
* 第 4 木曜
* 祝
* 年末年始
{% when 'D' %}
* 土日
* 祝
{% when 'E' %}
* 月曜
* 祝
{% when 'F' %}
* 月曜（祝日の場合は振り替える）
* リリオ自体が休みの日
{% endcase -%}
* 特別整理期間

## 営業時間

営業時間は次のとおり：
{% case include.office_type %}
{% when 'A' %}
| 曜日                         | 時間       |
| ---------------------------- | ---------- |
| 月-土                        | 9:00-20:00 |
| 日祝・12 月 29, 30 日        | 9:00-17:00 |
| 12 月 31 日、1 月 1, 2, 3 日 | 9:00-18:00 |

* ただし児童館は別時間

{% when 'B' %}
| 曜日  | 時間       |
| ----- | ---------- |
| 火-土 | 9:00-20:00 |
| 日祝  | 9:00-17:00 |

* ただし児童館は別時間
{% when 'C' %}
| 曜日       | 時間        |
| ---------- | ----------- |
| 日火水木土 | 10:00-17:00 |
| 金         | 10:00-20:00 |
{% when 'D' %}
| 曜日       | 時間       |
| ---------- | ---------- |
| 月火水木金 | 9:00-17:00 |
{% when 'E' %}
| 曜日       | 時間        |
| ---------- | ----------- |
| 日火水木土 | 10:00-17:00 |
| 金         | 10:00-20:00 |
{% when 'F' %}
| 曜日  | 時間        |
| ----- | ----------- |
| 火-土 | 10:00-21:00 |
| 日祝  | 10:00-19:00 |
{% endcase %}
出典：[葛飾区立図書館利用案内](http://www.lib.city.katsushika.lg.jp/libguide.html)
