[kita-00]: {{ site.baseurl }}{% link _libraries/kita-00-central.md %}
[kita-01]: {{ site.baseurl }}{% link _libraries/kita-01-central-branch.md %}
[kita-02]: {{ site.baseurl }}{% link _libraries/kita-02-takinogawa.md %}
[kita-03]: {{ site.baseurl }}{% link _libraries/kita-03-akabane.md %}
[kita-04]: {{ site.baseurl }}{% link _libraries/kita-04-ukima.md %}
[kita-05]: {{ site.baseurl }}{% link _libraries/kita-05-akabanenishi.md %}
[kita-06]: {{ site.baseurl }}{% link _libraries/kita-06-showamachi.md %}
[kita-07]: {{ site.baseurl }}{% link _libraries/kita-07-tabata.md %}
[kita-08]: {{ site.baseurl }}{% link _libraries/kita-08-kamijujo.md %}
[kita-09]: {{ site.baseurl }}{% link _libraries/kita-09-akabanekita.md %}
[kita-10]: {{ site.baseurl }}{% link _libraries/kita-10-higashitabata.md %}
[kita-11]: {{ site.baseurl }}{% link _libraries/kita-11-kamiya.md %}
[kita-12]: {{ site.baseurl }}{% link _libraries/kita-12-takinogawanishi.md %}
[kita-13]: {{ site.baseurl }}{% link _libraries/kita-13-toshima.md %}
[kita-14]: {{ site.baseurl }}{% link _libraries/kita-14-higashijujo.md %}
[kawaguchi-00]: {{ site.baseurl }}{% link _libraries/kawaguchi-00-central.md %}
[toshima-00]: {{ site.baseurl }}{% link _libraries/toshima-00-central.md %}
[toshima-01]: {{ site.baseurl }}{% link _libraries/toshima-01-komagome.md %}
[toshima-02]: {{ site.baseurl }}{% link _libraries/toshima-02-kamiikebukuro.md %}
[toshima-03]: {{ site.baseurl }}{% link _libraries/toshima-03-chihaya.md %}
[toshima-04]: {{ site.baseurl }}{% link _libraries/toshima-04-sugamo.md %}
[toshima-05]: {{ site.baseurl }}{% link _libraries/toshima-05-ikebukuro.md %}
[toshima-06]: {{ site.baseurl }}{% link _libraries/toshima-06-mejiro.md %}
[toshima-07]: {{ site.baseurl }}{% link _libraries/toshima-07-zoushigaya.md %}
