[kita-00]: {{ site.baseurl }}{% link _libraries/kita-00-central.md %}
[kita-01]: {{ site.baseurl }}{% link _libraries/kita-01-central-branch.md %}
[kita-02]: {{ site.baseurl }}{% link _libraries/kita-02-takinogawa.md %}
[kita-03]: {{ site.baseurl }}{% link _libraries/kita-03-akabane.md %}
[kita-04]: {{ site.baseurl }}{% link _libraries/kita-04-ukima.md %}
[kita-05]: {{ site.baseurl }}{% link _libraries/kita-05-akabanenishi.md %}
[kita-06]: {{ site.baseurl }}{% link _libraries/kita-06-showamachi.md %}
[kita-07]: {{ site.baseurl }}{% link _libraries/kita-07-tabata.md %}
[kita-08]: {{ site.baseurl }}{% link _libraries/kita-08-kamijujo.md %}
[kita-09]: {{ site.baseurl }}{% link _libraries/kita-09-akabanekita.md %}
[kita-10]: {{ site.baseurl }}{% link _libraries/kita-10-higashitabata.md %}
[kita-11]: {{ site.baseurl }}{% link _libraries/kita-11-kamiya.md %}
[kita-12]: {{ site.baseurl }}{% link _libraries/kita-12-takinogawanishi.md %}
[kita-13]: {{ site.baseurl }}{% link _libraries/kita-13-toshima.md %}
[kita-14]: {{ site.baseurl }}{% link _libraries/kita-14-higashijujo.md %}
[kawaguchi-00]: {{ site.baseurl }}{% link _libraries/kawaguchi-00-central.md %}
[toshima-00]: {{ site.baseurl }}{% link _libraries/toshima-00-central.md %}
[toshima-01]: {{ site.baseurl }}{% link _libraries/toshima-01-komagome.md %}
[toshima-04]: {{ site.baseurl }}{% link _libraries/toshima-04-sugamo.md %}
[arakawa-01]: {{ site.baseurl }}{% link _libraries/arakawa-01-minamisenju.md %}
[arakawa-02]: {{ site.baseurl }}{% link _libraries/arakawa-02-ogu.md %}
[arakawa-03]: {{ site.baseurl }}{% link _libraries/arakawa-03-machiya.md %}
[arakawa-04]: {{ site.baseurl }}{% link _libraries/arakawa-04-nippori.md %}
[arakawa-05]: {{ site.baseurl }}{% link _libraries/arakawa-05-shioiri.md %}
[arakawa-06]: {{ site.baseurl }}{% link _libraries/arakawa-06-kammurishindo.md %}
[taito-00]: {{ site.baseurl }}{% link _libraries/taito-00-central.md %}
[taito-01]: {{ site.baseurl }}{% link _libraries/taito-01-central-branch-asakusabashi.md %}
[taito-02]: {{ site.baseurl }}{% link _libraries/taito-02-central-branch-yanaka.md %}
[taito-03]: {{ site.baseurl }}{% link _libraries/taito-03-negishi.md %}
[taito-04]: {{ site.baseurl }}{% link _libraries/taito-04-ishihama.md %}
[taito-05]: {{ site.baseurl }}{% link _libraries/taito-05-kuramae.md %}
[taito-06]: {{ site.baseurl }}{% link _libraries/taito-06-sukoyaka.md %}
[taito-07]: {{ site.baseurl }}{% link _libraries/taito-07-higashiasakusa.md %}
[sumida-00]: {{ site.baseurl }}{% link _libraries/sumida-00-hikihune.md %}
[sumida-01]: {{ site.baseurl }}{% link _libraries/sumida-01-midori.md %}
[sumida-02]: {{ site.baseurl }}{% link _libraries/sumida-02-tachibana.md %}
[sumida-03]: {{ site.baseurl }}{% link _libraries/sumida-03-yahiro.md %}
[sumida-04]: {{ site.baseurl }}{% link _libraries/sumida-04-higashikomagata.md %}
[sumida-05]: {{ site.baseurl }}{% link _libraries/sumida-05-umewakabashi.md %}
[sumida-06]: {{ site.baseurl }}{% link _libraries/sumida-06-yokokawa.md %}
[sumida-07]: {{ site.baseurl }}{% link _libraries/sumida-07-sumida-women.md %}
