[kita-00]: {% link _libraries/17-kita/00-central.md %}
[kita-01]: {% link _libraries/17-kita/01-central-branch.md %}
[kita-02]: {% link _libraries/17-kita/02-takinogawa.md %}
[kita-03]: {% link _libraries/17-kita/03-akabane.md %}
[kita-04]: {% link _libraries/17-kita/04-ukima.md %}
[kita-05]: {% link _libraries/17-kita/05-akabanenishi.md %}
[kita-06]: {% link _libraries/17-kita/06-showamachi.md %}
[kita-07]: {% link _libraries/17-kita/07-tabata.md %}
[kita-08]: {% link _libraries/17-kita/08-kamijujo.md %}
[kita-09]: {% link _libraries/17-kita/09-akabanekita.md %}
[kita-10]: {% link _libraries/17-kita/10-higashitabata.md %}
[kita-11]: {% link _libraries/17-kita/11-kamiya.md %}
[kita-12]: {% link _libraries/17-kita/12-takinogawanishi.md %}
[kita-13]: {% link _libraries/17-kita/13-toshima.md %}
[kita-14]: {% link _libraries/17-kita/14-higashijujo.md %}
[kawaguchi-00]: {% link _libraries/kawaguchi-00-central.md %}
[toshima-00]: {% link _libraries/16-toshima/00-central.md %}
[toshima-01]: {% link _libraries/16-toshima/01-komagome.md %}
[toshima-04]: {% link _libraries/16-toshima/04-sugamo.md %}
[arakawa-01]: {% link _libraries/18-arakawa/01-minamisenju.md %}
[arakawa-02]: {% link _libraries/18-arakawa/02-ogu.md %}
[arakawa-03]: {% link _libraries/18-arakawa/03-machiya.md %}
[arakawa-04]: {% link _libraries/18-arakawa/04-nippori.md %}
[arakawa-05]: {% link _libraries/18-arakawa/05-shioiri.md %}
[arakawa-06]: {% link _libraries/18-arakawa/06-kammurishindo.md %}
[taito-00]: {% link _libraries/06-taito/00-central.md %}
[taito-01]: {% link _libraries/06-taito/01-central-branch-asakusabashi.md %}
[taito-02]: {% link _libraries/06-taito/02-central-branch-yanaka.md %}
[taito-03]: {% link _libraries/06-taito/03-negishi.md %}
[taito-04]: {% link _libraries/06-taito/04-ishihama.md %}
[taito-05]: {% link _libraries/06-taito/05-kuramae.md %}
[sumida-00]: {% link _libraries/07-sumida/00-hikifune.md %}
[sumida-01]: {% link _libraries/07-sumida/01-midori.md %}
[sumida-02]: {% link _libraries/07-sumida/02-tachibana.md %}
[sumida-03]: {% link _libraries/07-sumida/03-yahiro.md %}
[sumida-04]: {% link _libraries/07-sumida/04-higashikomagata.md %}
[sumida-05]: {% link _libraries/07-sumida/05-umewakabashi.md %}
[sumida-06]: {% link _libraries/07-sumida/06-yokokawa.md %}
[sumida-07]: {% link _libraries/07-sumida/07-sumida-women.md %}
