<!--
Group A:
品川図書館
二葉図書館
南大井図書館
源氏前図書館
大井図書館
五反田図書館
大崎図書館

Group B:
荏原図書館
ゆたか図書館

Group C:
大井町サービスコーナー
武蔵小山サービスコーナー
目黒サービスコーナー

Group D:
大崎駅西口図書取次施設
-->
## 休館日

休館日は次のとおり：

{% case include.office_type %}
{% when 'A' -%}
* 第 2 木曜日
{% when 'B' -%}
* 第 2 木曜日
* 第 4 月曜日
{% else %}
* 祝日
{% endcase -%}
* 年末年始
* 特別整理期間
{% if include.office_type == 'D' %}
* 施設点検日
{% endif -%}

## 営業時間
{% case include.office_type %}
{% when 'A' -%}
{% when 'B' -%}
営業時間は次の通り：

| 曜日 | 時間 |
|------|------|
| 通常 | 9:00 - 20:00 |
| 日祝 | 9:00 - 17:00 |
{% else -%}
たぶん次の通り：

| 曜日 | 時間 |
|------|------|
| 通常 | 8:00 - 17:00 |
| 土日 | 10:00 - 15:00 |
{% endcase -%}
