## 休館日

休館日は次のとおり：
* {{ include.holiday_day_of_week }}
* 第 {{ include.holiday_thursday }} 木曜
{% if include.holiday_sunday != '0' %}
* 5, 8, 11, 2 月の第 {{ include.holiday_sunday }} 日曜
{% endif -%}
* 年末年始
* 特別整理期間

## 開館時間

開館時間は次の通り：

| 曜日 | 時間 |
|------|------|
{% case include.hours_type %}
{% when 'A' -%}
| 火-土 | 9:00 - 21:45 |
| 日祝  | 9:00 - 18:00 |
{% when 'B' -%}
| 火-土 | 9:00 - 18:00 |
| 日祝  | 9:00 - 18:00 |
{% when 'C' -%}
| 月水-土 | 9:00 - 21:45 |
| 日祝  | 9:00 - 18:00 |
{% when 'D' -%}
| 火-金 | 9:00 - 19:00 |
| 土日祝 | 9:00 - 18:00 |
{% endcase %}
